.app {
    height: 100%;
    width: 100%;
    position: fixed;
}

header {
    height: 12%;
}

.logo-img {
    height: 80px;
}

.c-list {
    height: 88%;
    overflow-y: scroll;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.rounded-circle {
    border-radius: 50% !important;
}

.img-thumbnail {
    padding: 0;
    border: initial;
}

.list-thumbnail {
    padding: 0;
    border: initial;
    height: auto;
    max-width: unset;
    height: 85px;
    object-fit: cover;
    width: unset !important;
}

.text-small {
    font-size: 14px;
}

.modal-right {
    padding-right: 0 !important;
}

.modal-right .modal-dialog {
    box-shadow: 5px 0px 15px grey;
    margin: 0 auto;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    width: 350px;
    max-width: 380px;
}

.modal-right .modal-content {
    min-height: 100%;
    border-radius: 0px;
}

.modal-right .modal-header {
    height: 88%;
}

.modal.fade .modal-dialog {
    transform: translate(25%, 0) !important;
}

.modal.show .modal-dialog {
    transform: translate(0, 0) !important;
}

:focus {
    outline: none !important;
}